.yellow-line{
    background-color:  #ffd233;
    height:5px

}
.black-line{
    background-color: black;
    height: 20px;
}
.red-line{
    background-color: red;
    height: 2px;
}
.card{
    background-color: #6a76d4 !important;
    border: none !important;
    border-radius: 0px !important;
}